<configuration scan="true" scanPeriod="5 seconds">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %boldYellow(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.m11n.jdbc.ssh" level="DEBUG" />
    <logger name="org.apache.sshd" level="DEBUG" />

    <root level="ERROR">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>